.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 121, 192);
  height:150px;
}

.headerImage {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.pageTitle {
  display: flex;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  align-items: center;
  margin-left: -30px;
  margin-bottom: 0px;
}

.logoIcon {
  width: 100%;
  max-width: 80px;
  margin-left: 20px;
  height: 100%;
}

.titleAndNav {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-left: -80px;

}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.navLink {
  padding-right: 40px;
  text-align: center;
}


@media screen and ((min-width: 360px) and (max-width: 729px)) {
  
  .navLink {
    text-align: center;
    align-items: center;
  }
  

}

@media screen and (max-width: 730px) {

  .header {
    height:230px;
  }

  .headerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleAndNav {
    margin-left: 0px;
  }

  .logoIcon {
    width: 100%;
    max-width: 80px;
    margin-left: 0px;
  }

  .navContainer {
    margin-left: 30px;
  }

  .navLink {
    font-size: 15px;
    width: 100%;
  }
  
  
}

