.headerContainer {
  display: flex;
  flex-direction: column;
  color: rgb(7, 6, 6);
  background-color: rgb(35, 121, 192);
  height:100px;
}

.headerImage {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.pageTitle {
  color: rgb(255, 255, 255);
}

.navLinkContainer {
  display: flex;
  justify-content:space-around;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
}




