.main {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 1500x;
    height: auto;
    background-image: url("../public/HeartsBackground.jpg");;
    background-size: cover;
}


.mainContainer {
    min-width: 200px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-top: 40px;
    border-radius: 30px;
    border-color: #077ea5;
    border-style: solid;
    border-width: thick;
    margin-bottom: 30px;
}

.locationName {
    font-size: 25px;
    margin-bottom: 10px;
}

.address {
    font-weight: bold;
}

.detailsSection {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.dateTime {
    margin: 0px;

}

.button {
    display: flex;
    font-size: 15px; 
    font-weight: 100;
    justify-content: center;
    align-items: center;
    background-color: #f37d8c;
    color: white;
    height: 50px;
    width: 230px;
    margin-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 15px; 
    border-width: 0px; 
}

.shiftSignUp {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: center;

}

.signUpButton {
    display: flex;
    font-size: 12px; 
    font-weight: 100;
    justify-content: center;
    align-items: center;
    background-color: #f37d8c;
    color: white;
    height: 30px;
    width: 80px;
    margin-left: 20px;
    font-family: Kanvas File;
    border-radius: 10px; 
    border-width: 0px; 

}

.attendee {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: center;
}


.notesSection, .locationSection, .shiftSection, .detailsSection {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: #f8b1ba;
    border-style: solid;
    padding-bottom: 20px;
    padding: 15px;
}



.notesHeader {
    font-weight: bold;
}


@media screen and (max-width: 520px) {
  


}