.main {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 1500x;
    height: 1000px;
    background-image: url("../public/HeartsBackground.jpg");
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
    border-radius: 15px;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
}


.inputBox {
    width: 200px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.instructions {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    text-wrap:  balance;
}

.button {
    display: flex;
    font-weight: 100;
    justify-content: center;
    font-family: Kanvas File;
    align-items: center;
    background-color: #f37d8c;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 15px; 
    margin-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;
    border-width: 0px;
    border-radius: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    margin: 50px;
    border-radius: 30px;
    border-color: #077ea5;
    border-style: solid;
    border-width: thick;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 425px) {

    .button {
 
        width: 100px;
        font-size: 20px; 
        margin-bottom: 30px;

    }

    .fieldContainer {
        width: 200px;
    }

    .buttonContainer {
        flex-direction:column;

    
    }

}
  