.main {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 1500x;
    height: 1000px;
    background-image: url("../public/HeartsBackground.jpg");
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
    border-radius: 15px;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
}


.inputBox {
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
}



.button {
    display: flex;
    font-weight: 100;
    justify-content: center;
    font-family: Kanvas File;
    align-items: center;
    background-color: #f37d8c;
    color: white;
    height: 40px;
    width: 80px;
    font-size: 15px; 
    margin-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
    border-width: 0px;
    border-radius: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 30px;
    border-color: rgb(15, 159, 191);
    border-style: solid;
    border-width: thick;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 450px) {

}
  