
@font-face {
  font-family: "Aubrey";
  src: url(../public/AUBREY1__.TTF);
}

@font-face {
  font-family: "Kanvas File";
  src: url(../public/Kanvas\ file.otf);
}


html,
body {
  align-content: center;
  font-family: Kanvas File;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Aubrey;

}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

}
